---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blog
spec:
  chartRef:
    kind: OCIRepository
    name: blog
  interval: 1h
  values:
    controllers:
      blog:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/lukasparke/parke.dev
              tag: latest
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 3
                  failureThreshold: 5
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    service:
      app:
        controller: blog
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["blog.parke.dev"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
