---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blog
spec:
  chartRef:
    kind: OCIRepository
    name: blog
  interval: 1h
  values:
    controllers:
      blog:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/lukasparke/parke.dev
              tag: sha256-23a627ea3ea30cc03e9286b64f0644917627fe0453c1cb5bf0761b98a4288d82
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
    service:
      app:
        controller: blog
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["blog.parke.dev"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
