---
# Source: https://raw.githubusercontent.com/kubero-dev/kubero-operator/main/config/samples/application_v1alpha1_kuberoprometheus.yaml
apiVersion: application.kubero.dev/v1alpha1
kind: KuberoPrometheus
metadata:
  name: kubero-prometheus
spec:
  prometheus:
    enabled: true
    namespace: kubero
  grafana:
    enabled: false
  alertmanager:
    enabled: false
  kubeStateMetrics:
    enabled: true
  nodeExporter:
    enabled: false
